<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ musical["title"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='musical.css') }}">
</head>
<body>
  <header>
    <h1>{{ musical["title"] }}</h1>
  </header>

  <main>
    <p>{{ musical["description"] }}</p>

    <div class="synopsis">
      {{ musical.render_synopsis()|safe }}
    </div>
  </main>

  {% include "footer.html" %}
</body>
</html>
