<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search engine</title>
</head>
<body>
    
<header>
    <h1>Search for musicals!</h1>

</header>    

<main>
    <div class="search-methods">
    <form id="search-box" action="{{ url_for('results') }}" method="get">
    <label for="query">
     What are you interested in?
    </label><br>
    <input type="text" id="query" name="query" placeholder="Start typing.." required>
    <br><br>

    <label for="search">
        Choose search method:
    </label><br>
    <select id="search" name="method">
        <option value="boolean">Boolean search</option>
        <option value="semantic">Semantic search</option>
    </select>
    <br><br>

    <button type="submit">Go!</button>
    </form>
    <p>Search methods:

        <br> <br>
        Boolean:<br> Exact keyword matching. Use operators "and", "or", "not", as well as as
        parentheses "()" or perform wildcard searches with "*".
        <br> <br>
        TF-IDF: <br> Term frequency–inverse document frequency is a measure
        of importance of your search word(s). It evaluates word relevance
        by balancing how often the search word(s) appear in a specific document
        (TF) against its frequency across a larger document set (IDF).
        <br> <br>
        Semantic search: <br> Semantic search, or neural search, encodes queries
        and documents into dense, contextualized vectors. It
        captures semantic relationships and similarities between words based on
        their context.
    </p>
    </div>
</main>

{% include "footer.html" %}

</body>
</html>