<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
<div class="topnav_bar">
    <div class="container">
        <a href="ui.html">
        </a>
    </div>

    <div class="main-menu">
        <ul>
            <li>
                <a href="ui.html"></a>
            </li>
            <li>
                <a href="About the project"></a>
            </li>
        </ul>
    </div>
</div>

<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-heading text-xl">
                Welcome to our app :)
            </h1>
        </div>
    </div>
</section>

<p>This page is a search 
    engine! Try search here:</p>

<button type="button">To search</button>
{% include "footer.html" %}
    
</body>
</html>