<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
<div class="topnav_bar">
    <a class="active" href="#home"></a>
    <a href="#about">About</a>
</div>
<h1>Welcome to our app</h1>
<p>This page is a search 
    engine! Try search here:</p>

<button type="button">To search</button>
{% include "footer.html" %}
    
</body>
</html>