
h1 {
  color: black;
  font-size: 150%;
  margin: 30px auto;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  max-width: 1000px;
}


p {
  color: black;
  font-size: 100%;
  margin: 30px auto;
  background: rgba(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  max-width: 1000px;
}

.synopsis {
  color: black;
  font-size: 100%;
  margin: 30px auto;
  background: rgba(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  max-width: 1000px;
}