.search-methods {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin: 30px auto;
  flex-wrap: wrap;   /* allows stacking on narrow screens */
  /*background: rgba(255, 255, 255, 0.7)*/

}

p {
  color: black;
  font-size: 100%;
  margin: 30px;
  background: rgba(255, 255, 255, 0.8);  /* white with 40% opacity */
  padding: 15px;
  border-radius: 12px;
  max-width: 500px;
}

#search-box {
    margin: 30px;
    padding: 15px;
    border-radius: 12px;
    max-width: 500px;
}

.hide {
  display: none;
}

.loading-circle {
  border: 0px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loading-circle-rotation 1s linear infinite;
  width: .8rem;
  height: .8rem;
  border-width: 0.1rem;
}
@keyframes loading-circle-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
