main {
    margin-top: 100px;
}

/* use ".class" and "#id" */

body {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20
}
h1 {
  color: blue;
}
p {
  color: red;
}